*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("./bg-image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login,.password-login{
    width: 400px;
    height: 350px;
    background-color: white;
    margin: 150px auto;
    text-align: center;
    border-radius: 5px;
}
.login p{
    font-size: 20px;
    text-align: center;
    margin: 10px 0 10px 0 ;
}
.login a,.password-login a{
    margin: 0 5px;
    color: darkgrey;
    font-size: 15px;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
.bottom{
    margin-bottom: 5px;
}
.login p:nth-child(2){
    font-size: 15px;
}
.password-login p:nth-child(1){
    font-size: 20px;
    margin: 10px 0 10px 0;
}
.password-login p:nth-child(2){
    color: darkgray;
}
#user,#password{
    border:none;
    text-indent: 15px;
    padding: 10px;
    width: 100%;
    outline: none;
}
#submit{
    width: 268px;
    height: 38px;
    margin-top: 20px;
    background-color: #9fd355;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
#login-account,#login-password{
    width: 268px;
    height: 38px;
    border: darkgray solid 1px;
    margin: 20px auto 0;
    position: relative;
    border-radius: 2px;
}
#clear-user,#clear-password{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url("./image/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}